      



.hed{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.navbar{
    width: 20%;
}
.ul5{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.imgbox{
    width: 10%;
    display: flex;
    justify-content: space-between;
}
.sele{
    border: none;
    background: none;

}