@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
/* Website Font 'Raleway' */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.hed{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    margin-top: 25px;
    z-index: 999;
}

.navbar {
    width: 20%;
}

.ul5 {
    width: 80%;
    display: flex;
    justify-content: space-between;

}
.li5{
    list-style-type: none;
}

.li5 a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
}

.imgbox {
    width: 10%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.sele {
    text-align: center;
    border: 0;
    border-radius: 50px;
    background-color: transparent;
    color: white;

}
select{
    font-size: 18px;
    font-weight: 300;
}
main{
    margin: 0 auto;
    max-width: 2000px;
}

.section-one{
    background-image: url(..///img/section1/section-one-background.jpg);
    height: 1000px;
    max-width: 2000px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    align-items: center;
    justify-content: center;
    
}
.section-one-text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column; 
    color: white;
    
    
}
.section-one-text h1{
    font-weight: 300;
    font-size: 46px;
    line-height: 54px;
}
.section-one-text a{
    color: white;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}
.section-one-text img{
    height: 10px;
    width: 10px;    
}
.section-one-text span{
    width: 40%;
    margin: 4% auto;
    height: 1px;
    background-color: white;
   
}

.categories{
    margin: 6% auto 6%;
    width: fit-content;
}
.categories h2{
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #252525;
}
.flex-images{
    margin-top: 3%;
    display: flex;
    gap: 2%;
}
.flex-images-item{
    position: relative;
}

.images-item-text{
    position: absolute;
    background: rgba(224, 190, 162, 0.75);
    backdrop-filter: blur(3px);
    bottom: 0;
    z-index: 9;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    border: 0;

}
.images-item-nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 50%;
    right: 20px;
    background: rgba(224, 190, 162, 0.75);
    backdrop-filter: blur(3px);
    cursor: pointer;
    border: 0;

}
.images-item-nav-right:hover{
    background: rgba(224, 190, 162, 0.6);
}
.images-item-text:hover{
    background: rgba(224, 190, 162, 0.6);
    
}
.images-item-text:active{
    background: rgba(224, 190, 162);
}
.images-item-nav-right:active{
    background: rgba(224, 190, 162);
}

.glavtext {
    font-size: 36px;
    font-weight: 300;
}

input {
    width: 26%;
    height: 50px;
    background-color: white;
    border: solid 2px #9c9797;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    outline: none;
}

.btn2 {
    width: 26%;
    height: 50px;
    background-color: #E0BEA2;
    border: solid 2px #E0BEA2;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.ssilka {
    color: #25252580;
}

.ssilka2 {
    color: white;
}

.p0 {
    font-size: 16px;
    font-weight: 200;
}

.link {
    color: #252525;
    font-weight: 200;
    font-size: 16px;
    line-height: 19px;
    white-space: nowrap;
    
}

.fot{
    display: flex;
    justify-content: space-between;
    margin: 6% auto 3%;
    height: fit-content;
    max-width: 1150px;
}
.fot div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.foot h2{
    font-family: 'Raleway';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #252525;
}
.foot .contact{
display: flex;
flex-direction: column;
align-items: center;
}
/* Текст для скрин ридеров */
.foot .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
 .foot .menu {
    max-width: 100%;
    font-size: 1.3rem;
  }
  
 .foot ul {
    list-style: none;
  }
  
.foot  li {
    position: relative;
    margin-bottom: 5px;
  }
  
.foot  .sub-menu {
    padding: 10px 0;
    font-size: 1.1rem;
  }
  
.foot  nav a {
    display: block;
    padding: 13px 15px;
    background: white;
    color: #252525;
  }
  
  /* Убираем стандартный маркер Chrome */
  .menu summary::-webkit-details-marker {
    display: none;
  }
  /* Убираем стандартный маркер Firefox */
  .menu summary {
    list-style: none;
  }
  
  .menu summary {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    background: white;
    cursor: pointer;
    color: #252525;
  }
  
  .menu .sub-menu summary {
    height: 46px;
  }
  
  nav a:hover,
  .menu summary:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: #252525;
  }
  
  .menu summary:before {
    content: ">";
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    transition: transform 0.2s;
    will-change: transform;
    rotate: 90deg;
  }
  
  .menu details[open] > summary:before {
    transform: rotate(180deg);
  }
  @media (min-width:1920px){
    .hed{
        width: 2000px;
        position:relative;
        margin: 0 auto;
        background-color: black;
    }
    .foot{
        display: none;
    }
    .hed1{
        display: none;
    }
  }
@media(max-width:1920px){
    .hed1{
        display: none;
    }
    .foot{
        display: none;
    }
}

@media(max-width: 1300px){
    .udalit1{
        display: none;
    }
}
@media (max-width: 1200px){
    .section-one {
        background-image: url(..///img/section1/section-one-background.jpg);
        height: 800px;
    }
    footer {
        justify-content: space-around;
    }
    .btn2 {
        width: 35%;
    }
    input {
        width: 35%;
    }
    .ul5 {
        width: 100%;
    }
}
@media(max-width:1100px){
    .imgbox {
        width: 20%;
    }
}
@media(max-width: 1000px){
    .section-one {
        background-image: url(..///img/section1/section-one-background.jpg);
        height: 650px;
    }
    input {
        width: 40%;
    }
    .btn2 {
        width: 40%;
    }
}
@media(max-width: 910px){
    .fot {
        display: flex;
        justify-content: space-around;
    }
    .udalit2{
        display: none;
    }
    .li5 a {
        font-size: 13px;
    }
    .poisk{
        width: 18px;
    }
    .imgbox {
        gap: 15px;
    }
}
@media(max-width: 768px){
    .poisk2{
        display: none;
    }
    .hed{
        display: none;
    }
    .hed1{
        display: block;
        display: flex;
    }
    .foot{
        display: block;
    }
    .fot{
        display: none;
    }
}
@media(max-width: 590px){
    input {
        width: 70%;
    }
    .btn2 {
        width: 70%;
    }
    .section-one {
        background-image: url(../img/imgfooteradaptiv/Yanki\ \(51\)\ 1.jpg);
        height: 850px;
    }
    .imgrazmer{
        width: 165px;
        height: 230px;
    }
    .imgrazmer2{
        width: 165px;
        height: 230px;
    }
    .images-item-text {
        height: 35px;
    }
    .images-item-nav-right {
        height: 30px;
        width: 30px;
    }
}
@media(max-width: 425px){
    .imgyanki{
        width: 70px;
    }
}
@media (max-width: 375px){
    .section-one-text h1 {
        font-size: 35px;
    }
    .categories h2 {
        font-size: 35px;
    }
    .imgrazmer {
        width: 150px;
        height: 230px;
    }
    .imgrazmer2 {
        width: 150px;
        height: 230px;
    }
    .glavtext {
        font-size: 30px;
    }
    .p0 {
        font-size: 14px;
    }
}